.about{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.hero-title{
    padding-top: 200px;
    font-size: 60px;
    line-height: 115%;
    color: white
}
.hero-text{
    margin-top: -30px;
    color: white;
    font-size: 18px;
    line-height: 124%;
}
#hero{
    background-image: url(../../assets/images/dengiz.jpg);
    background-size: cover;
    margin-top: -48px;
    background-position: center;
    height: 660px;
}
.btn{
    background-color: #2196f3;
    border: none;
    color: white;
    padding: 10px 34px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    cursor: pointer;
}