.footer-links{
    padding-top: 10px;
}
footer{
    background-color: black;
    padding-bottom: 40px;
}
.footer-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    padding-top: 60px;
    color: white;
    gap: 50px;
    line-height: 28px;
    padding-bottom: 60px;
}
.footer-line{
    border: 1px solid gray;
    max-width: 1200px;
    margin-top: -40px;
}
.footer-photo{
    border-radius: 50%;
    width: 30px;
}
.footer-text-2{
    color: grey;
    text-align: center;
    padding-top: 30px;
}