.world{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 180px;
}
#about{
    margin-top: 120px;
}
.about-title{
    color: #2196f3;
    font-size: 22px;
    margin-top: 20px;
}
.about-subtitle{
    font-size: 44px;
    margin-top: -10px;
}
.about-text-1{
    font-size: 18px;
    color: grey;
    line-height: 120%;
    margin-bottom: 20px;
}
.about-text-2{
    font-size: 18px;
    color: grey;
    line-height: 120%;
}